 
      body {
        /* margin: 0; */
        font-family: "Roboto", sans-serif;
     }

      .header {
        background-color: #0171f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
      }
      .header-links a {
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 15px;
      }
      .header-links a:hover {
        background-color: #2386fe;
      }
      .btn{
        background-color: #ee626b;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 15px;
      }
     
      .btn:hover {
        background-color: #9e4147;
      }
      .logo {
        width: 100px;
      }
    /* End of header section  */
    /* Start of landing  page  */
    .landing-page {
       display: flex;
       justify-content: space-between ;
       background-color: #0171f9;
       padding: 10px 50px;
       color: #ffffff;
       align-items: center;
       border-radius: 0  0 50px 50px;

    }
    .landing-page-search input{
        border-radius: 15px;
        border: none;
        padding: 0px 10px;
        outline: none;
        height: 30px;
    }
     
    .landing-page-search .btn {
       
        position: absolute;
        left: 225px;
        height: 30px;
      
    }
    .landing-image-container img {
     border-radius: 15px;
     width: 400px;

    }

    .landing-page-left{
        width: 500px;
    }
